# Auto detect text files and perform LF normalization
* text=auto
*.so filter=lfs diff=lfs merge=lfs -text
*./Users/nitish/Desktop/invoice\\[[:space:]]/node_modules[[:space:]] filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
